@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    src: url("../font/SourceCodePro-Regular.otf.woff") format("woff");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    font-style: italic;
    src: url("../font/SourceCodePro-It.otf.woff") format("woff");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: bold;
    src: url("../font/SourceCodePro-Bold.otf.woff") format("woff");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 900;
    src: url("../font/SourceCodePro-Black.otf.woff") format("woff");
}

:root {
    --cim-fluid-precalc: calc((100vw - 300px) / (1600 - 300));
    --cim-font-size-precalc: calc((26 - 12) * var(--cim-fluid-precalc));
    --cim-line-height-precalc: calc((1.5 - 1.2) * var(--cim-fluid-precalc));
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-size: calc(.75rem + var(--cim-font-size-precalc));
    line-height: calc(1.2rem + var(--cim-line-height-precalc));
}

main {
    margin: .25rem auto .25rem 10px;
    top: calc(80px + 125 * ((100vw - 800px) / 800));
}

table {
    border: 1px solid black;
    border-collapse: separate;
    box-shadow: 5px 5px 5px hsl(0, 0%, 76%);
    width: calc(100vw - 30px);
}

tfoot {
    background-color: hsl(214, 41%, 78%);
}

thead {
    background-color: hsl(214, 41%, 78%);
    color: hsl(0, 100%, 100%);
}

th {
    /* Make some room for text shadows. */
    letter-spacing: .15em;
    padding: 5px;
    /* A little more subtle shadow here. */
    /*text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;*/
}

tbody tr:nth-child(even) {
    background-color: hsl(120, 100%, 90%);
}

td {
    padding: .25rem .5rem;
    text-align: right;
}

/*td:nth-child(even) {*/
/*    background: hsl(120, 100%, 94%);*/
/*}*/

th {
    text-align: center;
    width: 10em;
}

form {
    width: calc(100vw - 30px);
}

fieldset {
    border-radius: 8px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 76%);
    margin: 0;
    padding: .25em;
    width: 100%;
}

fieldset fieldset {
    box-shadow: none;
    margin: 0 0 calc(.35em + var(--cim-line-height-precalc)) 0;
}

legend {
    padding: 0 .25em;
}

label {
    border: hsl(0, 0%, 0%) solid 1px;
    display: inline-block;
    font-size: .75em;
    height: calc(1.6em + var(--cim-line-height-precalc));
    margin: 0 0 calc(.35em + var(--cim-line-height-precalc)) 0;
}

input {
    padding: 0 .25em;
    height: calc(1.25em + var(--cim-line-height-precalc));
    width: 7em;
}

input[readonly] {
    border: none;
}

input[type=date] {
    padding: 0 .25em;
    width: auto;
}

input[type=submit] {
    background-color: hsl(214, 41%, 50%);
    border-radius: 10px;
    color: hsl(0, 100%, 100%);
    height: 1.75em;
    /* Make some room for text shadows. */
    letter-spacing: .15em;
    padding: 5px;
    /* A little more subtle shadow here. */
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}

output {
    display: inline-block;
    line-height: calc(1.2rem + var(--cim-line-height-precalc));
    padding: 0 .25em;
}

input[name=patient-assignedSex] {
    width: 5em;
}

label span:first-child, label span:last-child {
    background-color: hsl(214, 41%, 78%);
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0 .25em;
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}

[id$="-dont-show"] {
    display: none;
}

details summary:before {
    color: hsl(120, 100%, 25%);
    content: "\25bc";
    float: left;
    font-size: .75em;
    padding: 5px 0 0 5px;
    height: 100%;
    width: calc(1.5em + var(--cim-line-height-precalc));
}

details[open] summary:before {
    color: hsl(0, 100%, 22%);
    content: "\25b2";
}

details details {
    border: hsl(0, 0%, 0%) solid 1px;
    border-radius: 8px 8px 0 0;
    display: inline-block;
    /*height: calc(1.3em + var(--cim-line-height-precalc));*/
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

details details[open] {
    border: hsl(0, 0%, 0%) solid 2px;
    box-shadow: 3px 3px 3px hsl(0, 0%, 63%);
}

details details a {
    font-size: .75em;
    margin-left: .25em;
}

details details div {
    overflow: visible;
    width: 12em;
    z-index: 10;
}

details details[open] div {
    /*border: hsl(0, 0%, 0%) solid 2px;*/
    border-top: none;
    background-color: hsl(0, 0%, 91%);
    padding-top: .125em;
    top: calc(.75em + var(--cim-font-size-precalc));
}

/*details details[open] div:first-child {*/
/*    border-top-right-radius: 8px;*/
/*    left: -4px;*/
/*    position: absolute;*/
/*}*/

details details label {
    border: none;
    margin: 0;
    padding: 0;
}

details details summary {
    border-radius: 8px 0 0 0;
    height: calc(1.3em + var(--cim-line-height-precalc));
    margin: 0;
    padding: 0;
}

details details summary:after {
    color: hsl(120, 100%, 50%);
    content: "\25bc";
    float: right;
    font-size: .75em;
    height: 100%;
    padding: 5px;
    width: calc(1.75em + var(--cim-line-height-precalc));
}

details details summary:before {
    display: none;
}

details details[open] summary:after {
    background-color: hsl(214, 41%, 78%);
    border-radius: 0 8px 0 0;
    color: hsl(0, 100%, 22%);
    content: "\25b2";
}

details details summary label:first-child span {
    border-radius: 8px 0 0 0;
}

.banner {
    border-radius: 8px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 76%);
    left: 10px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: calc(100vw - 30px);
}

.id {
    width: 13.5em;
}

.bp {
    display: inline;
    width: 6em;
}
