.alert {
    color: red;
}

.button {
    color: red;
    font-size: 24px;
}

.loginStyle {
    background-color: cyan;
    width: 250px;
    height: 150px;
    padding: 16px 16px 16px 16px;
}

table, th, td {
    border: 1px solid black;
    padding: 16px 16px 16px 16px;
}